{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{% block content %}
   <div class="container">
        <div class="jumbotron">
            <h1>{% trans %}Purchase Credits{% endtrans%}</h1>
            <p>
                {{util.flashed_messages(dismissible=False)}}
            </p>
            <p>
                {% trans %}Your new invoice.{% endtrans%}
            </p>
            <p>
                Currently you have <kbd>{{ g.credits }}</kbd> Credits.
            </p>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    You have <kbd>45</kbd> minutes to pay this invoice, it expires on
                    {{ pay_time.strftime('%c') }}.
                </div>
                <div class="panel-body">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img alt="[QR Code]" src="{{payme.image}}" />
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <p>You want to buy <kbd>{{payme.credits}}</kbd> Credits.</p>
                        <p class="lead">You must pay <kbd>{{payme.btc}}</kbd> BTC.</p>
                        <p class="lead">Please send yout Bitcoins to address: <kbd>{{payme.address}}</kbd></p>
                    </div>
                </div>
            </div>
        </div>
{%- endblock %}
