{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
   <div class="container">
      <div class="jumbotron">
        <h1>{% trans %}Login to TopItUp{% endtrans%}</h1>
        <p>
            {{util.flashed_messages(dismissible=False)}}
        </p>
        <p>
            {% trans %}Use your phpBB creditentials to log in.{% endtrans%}
        </p>
      </div>
      {{ wtf.quick_form(form) }}
{%- endblock %}
